* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0;
}

header {
    background-color: #FFE7B5;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

header h1, header h2 {
    color: #a67449;
    text-align: center;
    padding: 10px;
}

header img{
    float: left;
    text-align: left;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

table {
    margin: 20px;
    color: black;
    margin-top: 150px;
    width: 100%;
    border-collapse: collapse;
}

table tr th{
    padding: 10px;
    font-size: 20px;
    border: 1px solid #FFE7B5;
} 

tbody td {
    padding: 8px;
    border: 1px solid #FFE7B5;
}

body section#iframe {
    text-align: center;
}