.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

body{
    text-align: center;
    background-color: #402915;
}

fieldset {
    border-radius: 20px;
    width: auto;
    background-color: #f2cea2;
}

button {
    font-size: large;
    border-radius: 50px;
    background-color: #a67449;
    border-color: #a67449;
}

button#Reenvio {
    padding: 0%;
    margin: 5px;
    font-size: 12px;
}

img {
    text-align: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
}

fieldset h1 {
    margin: 8px auto;
}

input {
    text-align: left;
    margin: 10px;
}

button {
    width: 6em;
    margin: 10px;
    justify-content: center;
    align-items: center;
}