@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Freeman&family=Poetsen+One&display=swap');

:root{
    --cor1: #F2CEA2;
    --cor2: #D9AB82;
    --cor3: #A67449;
    --cor4: #734C29;
    --cor5: #402915;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

.container {
    width: 100%;
    margin: 0;
}

header {
    background-color: var(--cor5);
    padding: 20px 0;
    /* position: fixed; */
    top: 0;
    width: 100%;
}

header h1, header h2 {
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Poetsen One', sans-serif;
}

header img{
    float: left;
    text-align: left;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

header img#user {
    text-align: right;
    float: right;
    width: 60px;
    height: 60px;
}

nav{
    background-color: var(--cor4);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav a{
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a#estou, 
nav a:hover{
    background-color: var(--cor3);
}

/* table {
    margin: 20px 5px;
    color: black;
    margin-top: 150px;
    width: 100%;
    border-collapse: collapse;
}

table tr th{
    padding: 10px;
    font-size: 20px;
    border: 1px solid #FFE7B5;
} 

tbody td {
    padding: 8px;
    border: 1px solid #FFE7B5;
} */

body {
    background-color: var(--cor1);
}

body section#iframe {
    margin-top: 25px;
    text-align: center;
}