@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Freeman&family=Poetsen+One&display=swap');

:root{
    --cor1: #F2CEA2;
    --cor2: #D9AB82;
    --cor3: #A67449;
    --cor4: #734C29;
    --cor5: #402915;
}


*{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
}

header{
    background-color: var(--cor5);
    max-height: 110px;
    width: 100%;
}

header h1{
    font-family: 'Poetsen One', sans-serif;
    /* font-size: 3em; */
    color: white;
    text-align: center;
    /* padding-bottom: 15px; */
}

header img{
    margin-bottom: -90px;
}

nav{
    background-color: var(--cor4);
    height: 25px;   
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav a{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 17px;
}

nav a:hover{
    background-color: var(--cor3);
}

footer{
    background-color: var(--cor5);
    min-height: 100px;
    height: auto;
}

footer p{
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

    

