@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Freeman&family=Poetsen+One&display=swap');

* {
    font-family: 'Bebas Neue', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

body{
    text-align: center;
    background-color: #F2CEA2;
}

fieldset {
    border-radius: 20px;
    width: auto;
    max-width: 300px;
    background-color: #D9AB82;
}

button {
    font-size: large;
    border-radius: 50px;
    background-color: #F2CEA2;
    border-color: #F2CEA2;
}

button#Reenvio {
    padding: 0%;
    margin: 5px;
    font-size: 12px;
}

img {
    text-align: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

fieldset h1 {
    margin: 8px auto;
    font-family: 'Poetsen One', sans-serif;
}

fieldset h2{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 200;
}

input {
    text-align: left;
    margin: 10px;
}

button {
    width: 6em;
    margin: 10px;
    justify-content: center;
    align-items: center;
}