
:root {
    --cor1: #F2CEA2;
    --cor2: #D9AB82;
    --cor3: #A67449;
    --cor4: #734C29;
    --cor5: #402915;
}

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Freeman&family=Poetsen+One&display=swap');


header{
    height: 100%;
    margin: 0px;
    padding: 20px;
}

body{
    background-color: var(--cor1);
}

header{
    background-color: #402915;
    max-height: 100px;
}
header > h1{
    font-family: 'Poetsen One', sans-serif;;
    font-size: 3em;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
nav{
    background-color: var(--cor4);
    height: 25px;   
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav > a{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 17px;
    transition: transform 0.3s ease; 
}

nav > a:hover{
    background-color: var(--cor3);
    transform: scale(1.05); 
}



/* Estilos para os pedidos */
.order {
    background-color: var(--cor2); 
    color: var(--cor5); 
    padding: 10px; 
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin: 20px auto 20px 0; 
    transition: transform 0.3s ease; 
}

.order:hover {
    transform: scale(1.05); 
}



.order h2 {
    margin-bottom: 5px;
    color: var(--cor4); 
}

.order p {
    font-size: 16px;
    opacity: 0.9;
}

.order.smaller {
    background-color: var(--cor3); 
}

.order.smaller h2 {
    color: var(--cor1); 
}


.more-info {
    color: var(--cor1);
    cursor: pointer;
    text-decoration: underline;
}

.more-info:hover {
    opacity: 0.7;
}





/*-------------------------------------------------------------------------/*





* Estilos para os pedidos */
.pedidos2 {
    background-color: var(--cor2); 
    color: var(--cor5); 
    padding: 10px; 
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin-left: 450px; 
    transition: transform 0.3s ease; 
}

.pedidos2:hover {
    transform: scale(1.05); 
}



.pedidos2 h2 {
    margin-bottom: 5px;
    color: var(--cor4); 
}

.pedidos2 p {
    font-size: 16px;
    opacity: 0.9;
}

.pedidos20 {
    background-color: var(--cor2); 
    padding: 10px; 
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin-left:450px; 
    transition: transform 0.3s ease; 
}

.pedidos20:hover {
    transform: scale(1.05); 
}


.pedidos20 h2 {
    color: var(--cor4); 
}


.maisinfo2 {
    color: var(--cor1); 
    cursor: pointer;
    text-decoration: underline;
}

.maisinfo2:hover {
    opacity: 0.7;
}





/*-------------------------------------------------------------------------/*



* Estilos para os pedidos */
.pedidos3 {
    background-color: var(--cor3); 
    color: var(--cor5); 
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-left: 900px; 
    transition: transform 0.3s ease; 
}

.pedidos3:hover {
    transform: scale(1.05); 
}



.pedidos3 h2 {
    margin-bottom: 5px;
    color: var(--cor1); 
}

.pedidos3 p {
    font-size: 16px;
    opacity: 0.9;
}

.pedidos30 {
    background-color: var(--cor2); 
    padding: 10px; 
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin-left: 900px; 
    transition: transform 0.3s ease; 
}

.pedidos30:hover {
    transform: scale(1.05); 
}


.pedidos30 h2 {
    color: var(--cor4); 
}


.maisinfo3 {
    color: var(--cor1); 
    cursor: pointer;
    text-decoration: underline;
}

.maisinfo3:hover {
    opacity: 0.7;
}

footer{
    background-color: var(--cor5);
    min-height: 100px;
    height: auto;
    margin-top: 200px;
}

footer p{
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}