@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Freeman&family=Poetsen+One&display=swap');

:root{
    --cor1: #F2CEA2;
    --cor2: #D9AB82;
    --cor3: #A67449;
    --cor4: #734C29;
    --cor5: #402915;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor1);
}

header {
    background-color: #402915;
    text-align: center;
}

header h1 {
    font-family: 'Poetsen One', sans-serif;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
}


header > .container > nav > ul > li > a:hover{
    background-color: var(--cor3);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 10px 20px 10px;

}

#banner {
    font-family: 'Poetsen One', sans-serif;
    background-image: url('banner.jpg');
    background-size: cover;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
    padding: 60px 0px 30px 0px;
}

#banner h2 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.container > p {
    text-indent: 10px;
}

#historia{
    background-color: var(--cor4);
}

#historia > .container > p{
    text-align: justify;
    color: var(--cor1);
}

#historia > .container > h2{
    color: var(--cor5);
}

#contato{
    background-color: var(--cor4);
    color: var(--cor1);
}

#produtos > .container > h2{
    padding-bottom: 20px;
}

section {
    padding: 50px 0;
}

section h2 {
    margin-top: 0;
    font-family: 'Poetsen One', sans-serif;
}

.produto1 {
    float: left;
    width: 25%;
    margin-right: 100px;
    margin-bottom: 50px;
    font-family: 'Poetsen One', sans-serif;
    background-color: var(--cor3);
    padding: 5px 5px 5px 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.produto1 > h3{
    margin: 2px 0px 2px 0px;
    font-size: 1.5em;
    color: var(--cor5);
}

.produto1 > p{
    text-align: left;
    margin-bottom: 2px;
    color: var(--cor5);
}

.produto1 img {
    width: 100%;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.produto1:hover{
    background-color: var(--cor4);
}

.produto2 {
    float: left;
    width: 25%;
    margin-right: 100px;
    margin-bottom: 50px;
    font-family: 'Poetsen One', sans-serif;
    background-color: var(--cor3);
    padding: 5px 5px 5px 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.produto2 > h3{
    margin: 2px 0px 2px 0px;
    font-size: 1.5em;
    color: var(--cor5);
}

.produto2 > p{
    text-align: left;
    margin-bottom: 2px;
    color: var(--cor5);
}

.produto2 img {
    width: 100%;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.produto2:hover{
    background-color: var(--cor4);
}
.produto3 {
    float: left;
    width: 25%;
    margin-right: 20px;
    margin-bottom: 50px;
    font-family: 'Poetsen One', sans-serif;
    background-color: var(--cor3);
    padding: 5px 5px 5px 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.produto3 > h3{
    margin: 2px 0px 2px 0px;
    font-size: 1.5em;
    color: var(--cor5);
}

.produto3 > p{
    text-align: left;
    margin-bottom: 2px;
    color: var(--cor5);
}

.produto3 img {
    width: 100%;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.produto3:hover{
    background-color: var(--cor4);
}

.produto4 {
    float: left;
    width: 25%;
    margin-right: 100px;
    margin-bottom: 15px;
    font-family: 'Poetsen One', sans-serif;
    background-color: var(--cor3);
    padding: 5px 5px 5px 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.produto4 > h3{
    margin: 2px 0px 2px 0px;
    font-size: 1.5em;
    color: var(--cor5);
}

.produto4 > p{
    text-align: left;
    margin-bottom: 2px;
    color: var(--cor5);
}

.produto4 img {
    width: 100%;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.produto4:hover{
    background-color: var(--cor4);
}

.produto5 {
    float: left;
    width: 25%;
    margin-right: 100px;
    margin-bottom: 15px;
    font-family: 'Poetsen One', sans-serif;
    background-color: var(--cor3);
    padding: 5px 5px 5px 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.produto5 > h3{
    margin: 2px 0px 2px 0px;
    font-size: 1.5em;
    color: var(--cor5);
}

.produto5 > p{
    text-align: left;
    margin-bottom: 2px;
    color: var(--cor5);
}

.produto5 img {
    width: 100%;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.produto5:hover{
    background-color: var(--cor4);
}

.produto6 {
    float: left;
    width: 25%;
    margin-right: 0px;
    margin-bottom: 15px;
    font-family: 'Poetsen One', sans-serif;
    background-color: var(--cor3);
    padding: 5px 5px 5px 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.produto6 > h3{
    margin: 2px 0px 2px 0px;
    font-size: 1.5em;
    color: var(--cor5);
}

.produto6 > p{
    text-align: left;
    margin-bottom: 2px;
    color: var(--cor5);
}

.produto6 img {
    width: 100%;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.produto6:hover{
    background-color: var(--cor4);
}

#pedido > .container {
    background-color: var(--cor2);
    padding: 15px 15px 15px 15px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
